*{
    margin: 0;
    padding: 0;
}


nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: black;
    
}
.navigaton-bar, .hero, .speaker-section{
     width: 1551px;
}
.header-one{
    height: 98px;
    border-style: solid;
    border-color: black 6%;
    padding-block-start: 60px;
    padding-inline-end: 60px;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}
.first-order-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
    

}
.top-hyper-link{
    text-decoration: none;
    color: black;   

}
.button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-style: bold;
}
.hero{
    height: 786px;
    background-image: url(./assets/banner.jpg);
    background: linear-gradient(to light, black, white);
    background-position: center;

}

.paragraph-in-hero, .head-in-hero{
    color: white;
    text-decoration: none;
    text-transform: none;
       
    
}
.hero , .button{
    justify-content: center;
    place-items: center;
    text-align: center;
}

.head-in-hero{
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -3.2px;
    margin: 0;
    padding: 100px 0px 20px 0px;
}

.paragraph-in-hero{
    font-size: 22px;
    width: 400px;
    overflow-wrap: break-word;
    line-height: 1.09;
    margin: 0px;
    padding: 0px 0px 300px 0px;
        
}

.speaker-section{
     margin: 0;
     padding: 0px 30px 100px 60px;  
    background-color: white;
}

.div-in-main-speaker-section{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    text-align: left;
}
.head-in-speaker{
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    padding: 80px 270px 56px 270px;
}

.pictures{
    line-height: 1.8;
    margin: 2px;
    width: 644px;
    font-size: 20px;
    
}

.subject-in-speaker, .name-in-speaker{
    font-weight: bold;
    

}
.subject-in-speaker{
    
    color: blue;
    
     
}

.name-in-speaker{
    
    font-size: 25px;
    

}